<footer class="footer">
  <div class="wrapper">
    <ul class="footer__list">
      <li class="footer__item">
        <a href="#" class="footer__logo-link">
          <img src="./images/svg/logo-footer.svg" alt="" class="footer__logo" />
        </a>
        <a href="tel:+74994504797" class="footer__tel-link">8 (499) 450-47-97</a>
        <a href="mailto:info@conquest.watch.ru" class="footer__email-link">info@conquest.watch.ru</a>
      </li>
      <li class="footer__item">
        <h6 class="footer__heading">о компании</h6>
        <a href="#" class="footer__punkt-link">Наши магазины</a>
        <a href="#" class="footer__punkt-link">Вакансии</a>
        <a href="#" class="footer__punkt-link">Сертификаты</a>
        <a href="#" class="footer__punkt-link">Отзывы</a>
      </li>
      <li class="footer__item">
        <h6 class="footer__heading">покупателям</h6>
        <a href="#" class="footer__punkt-link">Каталог товаров</a>
        <a href="#" class="footer__punkt-link">Как заказать?</a>
        <a href="#" class="footer__punkt-link">FAQ</a>
        <a href="#" class="footer__punkt-link">Корпоративным клиентам</a>
      </li>
      <li class="footer__item">
        <h6 class="footer__heading">оплата и доставка</h6>
        <a href="#" class="footer__punkt-link">Способы оплаты</a>
        <a href="#" class="footer__punkt-link">Время доставки</a>
        <a href="#" class="footer__punkt-link">Гарантии и ремонт</a>
        <a href="#" class="footer__punkt-link">Возврат и компенсация</a>
      </li>
    </ul>
  </div>
</footer>
