<header class="header">
  <div class="wrapper">
    <nav class="nav">
      <a href="#">
        <img src="./images/svg/logo-header.svg" alt="" class="nav__img" />
      </a>
      <ul class="nav__list">
        <li class="nav__item"><a href="#">Каталог</a></li>
        <li class="nav__item"><a href="#">Акции</a></li>
        <li class="nav__item"><a href="#">Доставка</a></li>
        <li class="nav__item"><a href="#">Контакты</a></li>
      </ul>
      <div class="nav__icons">
        <a href="#" class="nav__icon-link nav__icon-link_ico1"></a>
        <a href="#" class="nav__icon-link nav__icon-link_ico2"></a>
        <a href="#" class="nav__icon-link nav__icon-link_ico3"></a>
      </div>
    </nav>
  </div>
</header>
