<section class="catalog">
  <div class="wrapper">
    <div class="catalog__continer">
      <div class="catalog__left">
        <img src="./images/photo_banner.webp" alt="" class="catalog__img" />
      </div>
      <div class="catalog__right">
        <h3 class="catalog__heading">Подлинное качество</h3>
        <p class="catalog__description">
          Все часы производятся в Швейцарии и имеют сертификаты качества. Настоящие швейцарские часы — это предмет гордости и престижа.
        </p>
        <a href="#" class="catalog__btn-link">СМОТРЕТЬ КАТАЛОГ</a>
      </div>
    </div>
    <div class="catalog__count">&lt; &#8195; 01 &#8195; &gt;</div>
  </div>
</section>
