<section class="main">
  <div class="main__block-left">
    <h1 class="main__heading">Весна/Лето 2019<br><span>Коллекция</span></h1>
    <p class="main__description">Швейцарские часы в наличии в <br> Москве <br>и с доставкой по всему миру</p>
    <a href="#" class="main__btn-link">Смотреть каталог</a>
  </div>
  <div class="main__block-right">
    <img src="./images/watch_main.webp" alt="watch">
    <div class="main__price">22 000 ₽</div>
    <div class="main__diameter">28 мм диаметр</div>
  </div>
</section>
