<section class="news">
  <div class="news__block-left">
    <h3 class="news__heading">Следите за нашими новостями</h3>
    <p class="news__description">
      Подписывайтесь на <a href="@conquest_watch">@conquest_watch</a> в соцсетях <br />
      и узнавайте о новинках и акциях первыми.
    </p>
    <ul class="news__list-ico">
      <li class="news__item-ico">
        <a href="#" class="news__link-ico news__link-ico1"></a>
      </li>
      <li class="news__item-ico">
        <a href="#" class="news__link-ico news__link-ico2"></a>
      </li>
      <li class="news__item-ico">
        <a href="#" class="news__link-ico news__link-ico3"></a>
      </li>
    </ul>
  </div>
  <div class="news__block-right">
    <ul class="news__list-img">
      <li class="news__item-img">
        <img src="./images/photo_1.webp" alt="" class="news__img" />
      </li>
      <li class="news__item-img">
        <img src="./images/photo_2.webp" alt="" class="news__img" />
      </li>
      <li class="news__item-img">
        <img src="./images/photo_3.webp" alt="" class="news__img" />
      </li>
    </ul>
  </div>
</section>
