@font-face {
    font-family: "PlayfairDisplay-Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Inter"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"),
        url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
        url("../fonts/PlayfairDisplay-Regular.woff") format("woff");
}

@font-face {
    font-family: "Prata-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("../fonts/Prata-Regular.woff2") format("woff2"),
        url("../fonts/Prata-Regular.woff") format("woff");
}

@font-face {
    font-family: "Roboto-Bold";
    font-style: normal;
    font-weight: 700;
    src: local("Inter"), url("../fonts/Roboto-Bold.woff2") format("woff2"),
        url("../fonts/Roboto-Bold.woff") format("woff");
}

@font-face {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: 300;
    src: local("Inter"), url("../fonts/Roboto-Light.woff2") format("woff2"),
        url("../fonts/Roboto-Light.woff") format("woff");
}

@font-face {
    font-family: "Roboto-Medium";
    font-style: normal;
    font-weight: 500;
    src: local("Inter"), url("../fonts/Roboto-Medium.woff2") format("woff2"),
        url("../fonts/Roboto-Medium.woff") format("woff");
}

@font-face {
    font-family: "Roboto-Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("../fonts/Roboto-Regular.woff2") format("woff2"),
        url("../fonts/Roboto-Regular.woff") format("woff");
}